
{% extends 'base.html' %}
{% load static %}
{% block title %} CHEEKY | {{user}} CV{% endblock %}

{% block content %}
<style type="text/css">
    
.list-none{
    margin-left:2pt;
    list-style-type: none;
}
.list-none-check{
    margin-left:2pt;
    list-style-type: none;
}
.list-none-scheck li:before {
  content: '✓';
}
.try:before {
  content: '✓';
}

.blockquote-footer::before {
  content: "— ";
}
</style>


{% if user.is_authenticated and user == user_cv %}
<!-- CV TITLE ---->

        <div class="container-fluid p-0" style="flex-wrap: nowrap;">
            <section class="resume-section" id="about" >
                <div class="resume-section-content">
                    
                
<!-- NAME -->       <h1 class="mb-0"> {{bio.name}}  <span class="text-primary"> {{bio.surname}} </span> </h1>

<!-- LOCATION -->   <div class="subheading mb-5"> {{bio.location}}  <br/>
<!-- PHONE -->          <a href="tel:{{bio.phone}} ">{{bio.phone}}  </a> | 
<!-- EMAIL -->          <a href="mailto:  {{bio.email}}">  {{bio.email}} </a>
                    </div>
                    <!-- BUTTONS EDIT------------------------->                    
                    <a href="{% url 'edit_bio' bio.id%}" class ="btn btn-light"> Edit</a>                    <br/><br/><br/><br/>
                    <!-- END BUTTONS EDIT ------------------------->  
            {%if intro.intro_text%}
                <p class="lead mb-5">{{intro.intro_text}}</p>
                <!-- BUTTONS EDIT------------------------->                    
                <a href="{% url 'edit_intro' intro.id%}" class ="btn btn-light"> Edit</a>                    <br/><br/><br/><br/>
            {%else%}
                <!-- BUTTONS ADD------------------------->
                    <hr/><br/><br/>
                    <div class="subheading mb-3">Introduction</div>            
                    <ul class="fa-ul mb-0">         
                        <li>Looks like you forgot to add introduction to your CV. Please add some info<br/></li><br/>
                        <li><a href="{% url 'add_intro_only' cv.id %}" class ="btn btn-dark"> Add Intro</a></li>
                    </ul>
                    <br/>
                <!-- END BUTTONS ------------------------->  
            {%endif%}
                    
            {%if web%}            
                
                    <div class="social-icons">
                        {%if web.wl1%}
                        <a class="social-icon" href="{{ web.wl1}}" target="_blank">
                            <i class="fab fa-linkedin-in fa-2x" ></i>
                        </a>&nbsp;&nbsp;&nbsp;
                        {%else%}{%endif%}

                        {%if web.wl2%}
                        <a class="social-icon" href="{{ web.wl2}}" target="_blank">
                            <i class="fas fa-file-pdf fa-2x" ></i>
                        </a>&nbsp;&nbsp;&nbsp;
                        {%else%}{%endif%}

                        {%if web.wl3%}
                        <a class="social-icon" href="{{ web.wl3}}" target="_blank">
                            <i class="fas fa-link fa-2x"></i>
                        </a>&nbsp;&nbsp;&nbsp;
                        {%else%}{%endif%}

                        {%if web.wl4%}
                        <a class="social-icon" href="{{ web.wl4}}" target="_blank">
                            <i class="fas fa-link fa-2x"></i>
                        </a>&nbsp;&nbsp;&nbsp;
                        {%else%}{%endif%}
                    </div>
                    <br/><br/>
                     <!-- BUTTONS EDIT------------------------->
                    <a href="{% url 'edit_web' web.id%}" class ="btn btn-light"> Edit</a>&nbsp; &nbsp;
                    <a href="{% url 'delete_web' web.id%}" class ="btn btn-light"> Delete</a>
                    <br/><br/>
                    <!-- END BUTTONS EDIT ------------------------->
            {%else%}
                    <!-- BUTTONS ADD------------------------->
                            <hr/><br/><br/>
                            <div class="subheading mb-3">Web</div>            
                            <ul class="fa-ul mb-0">         
                                <li>Looks like you forgot to add web-links into your CV. Please add some<br/></li><br/>
                                <li><a href="{% url 'add_web_only' cv.id %}" class ="btn btn-dark"> Add Links</a></li>
                            </ul>
                            <br/>
                    <!-- END BUTTONS ADD ------------------------->   

            {% endif %}

                        

                    
     
     </div>
</section>
            

    
<!-- JOBS --> 
{%if zipp%}
<hr class="m-0" /><br/><br/>
<section class="resume-section" id="experience">
<div class="resume-section-content">
<h2 class="mb-5">Experience</h2>   

{% for z in zipp%}
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5" >
        <div class="flex-grow-1" >


<!-- OFFICE + WEBSITE --------------------------->
            <h3 class="mb-0">{{z.0.job_o | title}} 
            {% if z.0.job_ws %}  
            <a href="{{job.job_ws}}" style="font-size: smaller" target="_blank">| {{z.0.job_ws}} </a>
            {%endif%}
            </h3>
<!-- BUTTONS JOB --->
            <div style="text-align: left;"><br/>
                <a href="{% url 'delete_job' z.0.id %}" class ="btn btn-light"> Delete</a>&nbsp; 
                <a href="{% url 'edit_job' z.0.id %}" class ="btn btn-light"> Edit</a> &nbsp;                
                <a href="{% url 'add_jobrole_only' z.0.id %}" class ="btn btn-light"> Add Job Role </a>
            </div>

            <br/><br/>

<!-- ROLE -->   
            {% if z.1 %}
            {% for role in z.1%}
            <ul class="fa-ul mb-0"style="margin-left:10pt"><br/>

<!-- ROLE TITLE -->
                <h4 class="mb-0">  {{ role.0.role_r | title}} </h3>
<!-- ROLE DATE AND LOCATION -->

                <div  style="font-size: small; ">                    
                                
                                {%if role.0.role_sdm and role.0.role_sdy and role.0.role_edm and role.0.role_edy%}

                                    {% if role.0.role_sdm != 'Present' and role.0.role_sdy != 'Present'%}
                                    {{role.0.role_sdm}} {{role.0.role_sdy}}
                                    {% else %}
                                    Present 
                                    {% endif %} 

                                    {% if role.0.role_edm != 'Present' and role.0.role_edy != 'Present'%}
                                    - {{role.0.role_edm}} {{role.0.role_edy}}
                                    {% else %}
                                    - Present
                                    {% endif %} 

                                {% endif %}

                                {%if role.0.role_l%}
                                    | {{role.0.role_l | title}}
                                {%endif%}

                </div><br/>
<!-- BUTTONS ROLE --->
                <div style="text-align: left; ">
                    <a href="{% url 'edit_jobrole' role.0.id %}" class ="btn btn-light"> Edit </a>&nbsp;
                    <a href="{% url 'delete_jobrole' role.0.id %}" class ="btn btn-light"> Delete</a> &nbsp; 
                    <a href="{% url 'add_jobrolecat_only' role.0.id %}" class ="btn btn-light"> Add Description </a>
                </div>
                <br/><br/>

<!-- ROLE PROJECTS --->
                {% if role.1 %}
                {% for cat in role.1 %}
                <div style="margin-left: 10pt;position:static;">
                            <div class="subheading1 mb-0">{{ cat.cat }} </div>
                            
                                  
                               <ul  class="list-none">
            <!-- DESCRIPTION -->        {% if cat.cat_p1  %}
                                        <li> / &nbsp;&nbsp;{{ cat.cat_p1 | title}}</li>
                                        {%endif%} 

                                        {%  if cat.cat_p2 %}
                                        <li> / &nbsp;&nbsp;{{ cat.cat_p2| title }}</li>
                                        {%endif%}

                                        {%  if cat.cat_p3 %}
                                        <li> / &nbsp;&nbsp;{{ cat.cat_p3 | title}}</li>  
                                        {%endif%}

                                        {%  if cat.cat_p4 %}
                                        <li> / &nbsp;&nbsp;{{ cat.cat_p4 | title}}</li>   
                                        {%endif%}
                                        
                                        {%  if cat.cat_p5 %}
                                        <li> / &nbsp;&nbsp;{{ cat.cat_p5 | title}}</li>
                                        {%endif%}

                                        {%  if cat.cat_p6 %}
                                        <li> / &nbsp;&nbsp;{{ cat.cat_p6 | title}}</li>
                                        {%endif%}

                                        {%  if cat.cat_p7 %}
                                        <li> / &nbsp;&nbsp;{{ cat.cat_p7 | title}}</li>
                                        {%endif%}

                                        {%  if cat.cat_p8 %}
                                        <li> / &nbsp;&nbsp;{{ cat.cat_p8 | title}}</li>
                                        {%endif%}

                                        {%  if cat.cat_p9 %}
                                        <li> / &nbsp;&nbsp;{{ cat.cat_p9 | title}}</li>
                                        {%endif%}

                                        {%  if cat.cat_p10 %}
                                         <li>/ &nbsp;&nbsp;{{ cat.cat_p10 | title}}</li>
                                        {%endif%}                     
                                    </ul> 
                                    <br/>
<!-- BUTTONS CATEGORY --->
                <div style="text-align: left;">
                    <a href="{% url 'edit_jobrolecat' cat.id %}" class ="btn btn-light"> Edit </a>&nbsp; 
                    <a href="{% url 'delete_jobrolecat' cat.id %}" class ="btn btn-light"> Delete</a>                   
                </div><br/>
                             </div>
                {% endfor %}
                 {%endif%}
            </ul>
            {%endfor%}
            {%endif%}


        </div>
        <div class="flex-shrink-0" style ="text-align: right;">
            <span class="text-primary">
                {% if z.0.job_sdm != 'Present' and z.0.job_sdy != 'Present'%}
                    {{z.0.job_sdm}} {{z.0.job_sdy}}
                    {% else %}
                    Present 
                    {% endif %} 

                    {% if z.0.job_edm != 'Present' and z.0.job_edy != 'Present'%}
                    - {{z.0.job_edm}} {{z.0.job_edy}}
                    {% else %}
                     - Present
                {% endif %}
                <br/>

                {% if z.0.job_l %} 
                    {{z.0.job_l | title}} 
                    {% endif %}
                <br/>



            </span>
        </div>


    </div><br>
            
    {% endfor %}  
    </ul> 
     <div style="margin-left: 20px"><a href="{% url 'add_job_only' cv.id %}" class ="btn btn-dark"> Add Job</a></div>
     <br/>      
    </div>
</section>

 {%else%}
<!-- BUTTONS ADD------------------------->
        <hr class="m-0" /><br/><br/>
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Experience</h2>                   
                <ul class="fa-ul mb-0">         
                   
                    Looks like you forgot to add Experience into your CV. Please add some<br/>
                    <br/><a href="{% url 'add_job_only' cv.id %}" class ="btn btn-dark"> Add Job</a>
                   
                    <br/>
                </ul>
            </div>
        </section>

<!-- END BUTTONS ADD ------------------------->       
     

{%endif%}


<!-- Skills-->
<!-- SKILLS WORKFLOW -->

 <hr class="m-0" /><br/><br/>
            <section class="resume-section" id="skills">
                <div class="resume-section-content">

                    <h2 class="mb-5">Skills</h2>
{% if skill1 %}
                    <ul class="fa-ul mb-0" style="margin-left:7pt">

                        <div class="subheading mb-3">Workflow</div>
                         <ul class="list-none" ml-1>                        
                            
                            <li >{%if skill1.skill_w1%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ skill1.skill_w1}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill1.skill_w2%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                               {{ skill1.skill_w2}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill1.skill_w3%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                               {{ skill1.skill_w3}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill1.skill_w4%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ skill1.skill_w4}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill1.skill_w5%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                              {{ skill1.skill_w5}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill1.skill_w6%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                               {{ skill1.skill_w6}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill1.skill_w7%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                              {{ skill1.skill_w7}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill1.skill_w8%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                               {{ skill1.skill_w8}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill1.skill_w9%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                               {{ skill1.skill_w9}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill1.skill_w10%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ skill1.skill_w10}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill1.skill_w11%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ skill1.skill_w11}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill1.skill_w12%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                               {{ skill1.skill_w12}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill1.skill_w13%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                               {{ skill1.skill_w13}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill1.skill_w14%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                             {{ skill1.skill_w14}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill1.skill_w15%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                               {{ skill1.skill_w15}}{%else%}{%endif%}
                            </li>  
                                                                 
                        </ul><br/>
<!-- BUTTONS EDIT------------------------->
                    <a href="{% url 'edit_skill1' skill1.id%}" class ="btn btn-light"> Edit</a>&nbsp;
                    <a href="{% url 'delete_skill1' skill1.id%}" class ="btn btn-light"> Delete</a>
                    <br/><br/><br/>
                    <!-- END BUTTONS EDIT ------------------------->
{%else%}
        <!-- BUTTONS ADD------------------------->

                <div class="subheading mb-3">Workflow</div>            
                <ul class="fa-ul mb-0">         
                    <li>Looks like you forgot to add Skills - Workflow into your CV. Please add some<br/></li><br/>
                    <li><a href="{% url 'add_skill1_only' cv.id %}" class ="btn btn-dark"> Add Skills - Workflow</a></li>
                </ul>
                <br/><hr/><br/><br/>
        <!-- END BUTTONS ADD ------------------------->   
    
{% endif %}

<!-- SKILLS TOOLS -->
{% if skill2 %}

                        <div class="subheading mb-3">Tools</div>
                        <ul class="list-none">

                            <li>{%if skill2.skill_w1%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ skill2.skill_w1}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill2.skill_w2%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                               {{ skill2.skill_w2}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill2.skill_w3%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ skill2.skill_w3}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill2.skill_w4%}
                               <i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ skill2.skill_w4}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill2.skill_w5%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                               {{ skill2.skill_w5}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill2.skill_w6%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                               {{ skill2.skill_w6}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill2.skill_w7%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                               {{ skill2.skill_w7}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill2.skill_w8%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                               {{ skill2.skill_w8}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill2.skill_w9%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ skill2.skill_w9}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill2.skill_w10%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ skill2.skill_w10}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill2.skill_w11%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ skill2.skill_w11}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill2.skill_w13%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                               {{ skill2.skill_w12}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill2.skill_w13%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                               {{ skill2.skill_w13}}{%else%}{%endif%}
                            </li>
                            <li> {%if skill2.skill_w14%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ skill2.skill_w14}}{%else%}{%endif%}
                            </li>
                            <li>{%if skill2.skill_w15%}
                                <i class="fas fa-check"></i>&nbsp;&nbsp;
                               {{ skill2.skill_w15}}{%else%}{%endif%}
                            </li>                           
                        </ul><br/>
 <!-- BUTTONS EDIT------------------------->
                    <a href="{% url 'edit_skill2' skill2.id%}" class ="btn btn-light"> Edit</a>&nbsp; 
                    <a href="{% url 'delete_skill2' skill2.id%}" class ="btn btn-light"> Delete</a>
                    <br/><br/><br/>
                    <!-- END BUTTONS EDIT ------------------------->
{%else%}
        <!-- BUTTONS ADD------------------------->
        

                <div class="subheading mb-3">Tools</div>                   
                <ul class="fa-ul mb-0">         
                    <li>Looks like you forgot to add Skills - Tools into your CV. Please add some</li><br/>
                    <li><a href="{% url 'add_skill2_only' cv.id %}" class ="btn btn-dark"> Add Skills - Tools</a></li>
                </ul>
                <br/><hr/><br/><br/>

        <!-- END BUTTONS ADD ------------------------->                         
                        
{% endif %}
<!-- SKILLS LANGUAGES -->
{%if lang%}
                        <div class="subheading mb-3">Languages</div>
                         <ul class="list-none">
                            {%if lang.l1%}                           
                            <li><i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ lang.l1}}</li>
                            {%else%}{%endif%}

                            {%if lang.l2%}                           
                            <li><i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ lang.l2}}</li>
                            {%else%}{%endif%}

                            {%if lang.l3%}                           
                            <li><i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ lang.l3}}</li>
                            {%else%}{%endif%}

                            {%if lang.l4%}                           
                            <li><i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ lang.l4}}</li>
                            {%else%}{%endif%}

                            {%if lang.l5%}                           
                            <li><i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ lang.l5}}</li>
                            {%else%}{%endif%}

                            {%if lang.l6%}                           
                            <li><i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ lang.l6}}</li>
                            {%else%}{%endif%}

                            {%if lang.l7%}                           
                            <li><i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ lang.l7}}</li>
                            {%else%}{%endif%}

                            {%if lang.l8%}                           
                            <li><i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ lang.l8}}</li>
                            {%else%}{%endif%}

                            {%if lang.l9%}                           
                            <li><i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ lang.l9}}</li>
                            {%else%}{%endif%}

                            {%if lang.l10%}                           
                            <li><i class="fas fa-check"></i>&nbsp;&nbsp;
                                {{ lang.l10}}</li>
                            {%else%}{%endif%}
                        </ul>
                    </ul>  <br/>
<!-- BUTTONS EDIT------------------------->
                    <a href="{% url 'edit_lang' lang.id%}" class ="btn btn-light"> Edit</a>&nbsp; 
                    <a href="{% url 'delete_lang' lang.id%}" class ="btn btn-light"> Delete</a>
                    <br/><br/><br/>
                    <!-- END BUTTONS EDIT ------------------------->
{%else%}

            <!-- BUTTONS ADD------------------------->
            {%if skill2%}
                    <hr/><br/><br/>
                    <div class="subheading mb-3">Languages</div>            
                    <ul class="fa-ul mb-0">         
                        <li>Looks like you forgot to add Languages into your CV. Please add some<br/></li><br/>
                        <li><a href="{% url 'add_lang_only' cv.id %}" class ="btn btn-dark"> Add Languages</a></li>
                    </ul>
                    <br/><br/><br/>
            {%else%}
                    <div class="subheading mb-3">Languages</div>            
                    <ul class="fa-ul mb-0">         
                        <li>Looks like you forgot to add Languages into your CV. Please add some<br/></li><br/>
                        <li><a href="{% url 'add_lang_only' cv.id %}" class ="btn btn-dark"> Add Languages</a></li>
                    </ul>
                    <br/><br/><br/>
            {% endif %} 
            <!-- END BUTTONS ADD ------------------------->   
{% endif %}

                </div>
            </section>
             

<!-- EDUCATION -->

{% if edus %}
<hr class="m-0" /><br/><br/>
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>                   
                    <ul class="fa-ul mb-0" style="margin-left:7pt">
                        {% for edu in edus %}                       
                        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                            <div class="flex-grow-1">
<!-- SCHOOL -->
                                <h3 class="mb-0">{{edu.edu_s}}</h3>
<!-- DEPARTMENT -->
                                <div class="subheading mb-3">{{edu.edu_d}}</div>

                            </div>
<!-- SRTART / END DATE -->
                            <div class="flex-shrink-0" style ="text-align: right;"><span class="text-primary">{{edu.edu_sdy}} - {{edu.edu_edy}} <br/>
<!-- LOCATION -->
                             {{edu.edu_l}}</span></div>
                        </div>             
                     <!-- BUTTONS EDIT------------------------->
                    <a href="{% url 'edit_edu' edu.id %}" class ="btn btn-light"> Edit </a>&nbsp; 
                    <a href="{% url 'delete_edu' edu.id%}" class ="btn btn-light"> Delete</a>
                    <br/><br/><br/>
                    <!-- END BUTTONS EDIT ------------------------->
                     {% endfor %}  
                     </ul>  
                     <div style="margin-left: 20px"><a href="{% url 'add_edu_only' cv.id %}" class ="btn btn-dark"> Add Education</a></div>
                    <br/>                
                </div>               
            </section>
            <hr class="m-0" />
{%else%}
        <!-- BUTTONS ADD------------------------->
        <hr class="m-0" /><br/><br/>
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Education</h2>                   
                <ul class="fa-ul mb-0">         
                   
                    Looks like you forgot to add Education into your CV. Please add some<br/>
                    <br/><a href="{% url 'add_edu_only' cv.id %}" class ="btn btn-dark"> Add Education</a>
                   
                    <br/>
                </ul>
            </div>
        </section>
        <!-- END BUTTONS ADD ------------------------->                 
             <hr class="m-0" />  <br/><br/>     
     
{% endif %}  


            

<!-- OUTRO -->
{% if intro.outro_text %}
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <ul class="fa-ul mb-0" style="margin-left:7pt">
                        <p class="lead mb-5">
                        {{intro.outro_text}}
                        </p>
                    </ul>
                    <!-- BUTTONS EDIT------------------------->                    
                <a href="{% url 'edit_intro' intro.id%}" class ="btn btn-light"> Edit</a>                    <br/><br/><br/><br/>
                </div>
                
            </section>  
            <hr class="m-0" /><br/><br/>
{%else%}
                <!-- BUTTONS ADD------------------------->
                    <section class="resume-section" id="interests">
                        <div class="resume-section-content">
                            <h2 class="mb-5">Interests</h2>           
                                <ul class="fa-ul mb-0" style="margin-left:7pt">         
                                <li>Looks like you forgot to add interests to your CV. Please add some info<br/></li><br/>
                                <li><a href="{% url 'add_intro_only' cv.id %}" class ="btn btn-dark"> Add Interests</a></li>
                                </ul>
                        </div>
                    </section>
                    <br/> <hr class="m-0" /><br/><br/>
                <!-- END BUTTONS ------------------------->  
{% endif %} 

  
            
<!-- CONTACT -->            
    <!-- Contact-->
    <section class="resume-section" id="contact">
        <div class="resume-section-content" >
            <h2 class="mb-5">FEEL FREE TO CONTACT ME ANYTIME :)</h2>
            <ul class="fa-ul mb-0" style="margin-left:7pt">
                
                    <a href="tel:{{bio.phone}}" >{{bio.phone}}</a>
                     | 
                    <a href="mailto: {{bio.email}}" > {{bio.email}}</a>
                    <br/><br/>
                    
 <!-- WEB -->
 {%if web%}            
                    <p>Please see the links below for my linkedin profile and full PDF portfolio download. Scroll further down for my web resume :)</p><br/>
                    <div class="social-icons">
                        {%if web.wl1%}
                        <a class="social-icon" href="{{ web.wl1}}" target="_blank">
                            <i class="fab fa-linkedin-in fa-2x" ></i>
                        </a>&nbsp;&nbsp;&nbsp;
                        {%else%}{%endif%}

                        {%if web.wl2%}
                        <a class="social-icon" href="{{ web.wl2}}" target="_blank">
                            <i class="fas fa-file-pdf fa-2x" ></i>
                        </a>&nbsp;&nbsp;&nbsp;
                        {%else%}{%endif%}

                        {%if web.wl3%}
                        <a class="social-icon" href="{{ web.wl3}}" target="_blank">
                            <i class="fas fa-link fa-2x"></i>
                        </a>&nbsp;&nbsp;&nbsp;
                        {%else%}{%endif%}

                        {%if web.wl4%}
                        <a class="social-icon" href="{{ web.wl4}}" target="_blank">
                            <i class="fas fa-link fa-2x"></i>
                        </a>&nbsp;&nbsp;&nbsp;
                        {%else%}{%endif%}
                    </div>
                    
            {%else%}
            {%endif%}
            </ul>
        </div>
    </section>

</div>


{%else%}
<div style="margin-left: 100px;">
    <h1> Ups, you kinda wandered off there into the unknown :)<br/>
    Please <a href = "{% url 'login' %}">log in</a> or <a href = "{% url 'register' %}">register</a> to edit your CV </h1><br/>
    <a href="{% url 'home' %}" class ="btn btn-dark">HOME</a> <br/> 
</div>
{%endif%}



{% endblock %} 