


{% extends 'base.html' %}

{% block title %}Change Password Page{% endblock title %}

{% block content %} 
<br><br>
<div class="hana_div text-center">
    <div class="card-body">
        <h2>Forgot your username or your password?</h2>
        <hr>
        <div class="alert alert-info" style="background-color:blue_hana_light; text-align: left; z-index: -20; ">
            Can-do's-ville! Enter your registration email to receive your username and instructions for password reset
        </div>
        <form method="post" >
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            <div >
              <input style = type="email" name="email" autocomplete="email" maxlength="254" required id="id_email" placeholder="email..." class="form-control">
            </div><br/>
            <button class ="btn btn-dark " type="submit" value="Reset Password">Reset</button>&nbsp;
            <a href="{% url 'home' %}" class ="btn btn-light"> Back</a> <br/>  &nbsp; 

            <!-- <input class="btn btn-primary btn-dark" type="submit" value="Reset Password"> -->

        </form>

        <hr>
    </div>
</div>

<script>
  function done(){
    window.location.href = "{% url 'password_reset_done' %}";
  }
</script>

{% endblock content %}