{% extends 'base.html' %}
{% block title %} CHEEKY | Change Password {% endblock %}

{% block content %}


<br><br>

            <div class="hana_div text-center">
                <div class="card-body">
                    <h2>Password Reset Complete</h2>
                    <hr>
                    <div class="alert alert-info" style="background-color:blue_hana_light;z-index: -20;  ">
                        Your password reset is successful. Log in with new credentials
                    </div>
                     <a href="{% url 'login' %}" class ="btn btn-dark"> Login</a> <br/>  &nbsp; 
                    
                    <br/>
                    <hr>
                </div>
            </div>



{% endblock %}