{% extends 'base.html' %}
{% block title %} CHEEKY | Change Password {% endblock %}

{% block content %}

<style type="text/css">
.hana_div{
    display: flex;
    justify-content: center;
    width: 27rem;
    padding: 10px;
    box-shadow: 10px 10px 30px 10px #3333;
    margin-bottom: 100px;
}

@media (max-width: 576px) {
  .hana_div {
    margin-left: 2rem;
    max-width: 540px;
  }
}
</style>
<br><br>


           <div class="hana_div text-center">
                <div class="card-body">
                    <h2>INPUT YOUR NEW PASSWORD</h2>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}

                        <p>
                            <label for="id_new_password1" class="text-center">New password:</label> <br/>
                            <input style="text-align:left; width:275pt" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="password 1..." class="form-control">
                        </p>
                        <p>
                            <label for="id_new_password2" >Confirm new password:</label> <br/>
                            <input style="text-align:left; width:275pt" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="password 1..." class="form-control">
                        </p><br/>

                        <div class="alert alert-info" style="background-color:blue_hana_light;  text-align: left;z-index: -20; ">
                            <span class="helptext">
                            <ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters</li><li>Your password can’t be a commonly used password</li><li>Your password can’t be entirely numeric</li></ul>
                            </span>
                        </div>

                        <!-- <input class="btn btn-primary btn-dark" type="submit" value="Reset Password Confirm"> -->
                        <button class ="btn btn-dark " type="submit" value="Reset Password Confirm">Reset Password Confirm</button>&nbsp;

                    </form>
                   
                    <hr>
                </div>

            </div>




{% endblock %}