{% extends 'base.html' %}
{% block title %} CHEEKY | Change Password {% endblock %}

{% block content %}

<style type="text/css">
.hana_div{
    display: flex;
    justify-content: center;
    width: 27rem;
    padding: 10px;
    box-shadow: 10px 10px 30px 10px #3333;
    margin-bottom: 100px;
}

@media (max-width: 576px) {
  .hana_div {
    margin-left: 2rem;
    max-width: 540px;
  }
}
</style>

            <div class="hana_div text-center">
                <div class="card-body">
                    <h4>RESET INSTRUCTIONS SENT</h4>
                    <hr>
                    <div class="alert alert-info" style="background-color:blue_hana_light; text-align: left;z-index: -20; ">
                        An email with instructions for password reset has been sent to the email you provided. 
                        <br/>
                        <b>Please check your spam folder as well as inbox</b>
                    </div>
                    <hr>
                </div>
            </div>

<script>
  window.setTimeout(function(){
    window.location.href = "{% url 'home' %}";
  }, 3000);
</script>

{% endblock %}