{% extends 'base.html' %}
{% block title %} CHEEKY | Change Password {% endblock %}

{% block content %}

<style type="text/css">
.hana_div{
    display: flex;
    justify-content: center;
    width: 27rem;
    padding: 10px;
    box-shadow: 10px 10px 30px 10px #3333;
    margin-bottom: 100px;
}

@media (max-width: 576px) {
  .hana_div {
    margin-left: 2rem;
    max-width: 540px;
  }
}
</style>
<br><br>

            <div class="hana_div text-center">
                <div class="card-body">
                    <h2>Password Reset Complete</h2>
                    <hr>
                    <div class="alert alert-info" style="background-color:blue_hana_light;z-index: -20;  ">
                        Your password reset is successful. Log in with new credentials
                    </div>
                    
                    <!-- <input type="button" class="btn btn-dark" value="Login" onclick="location.href='{% url 'login' %}';"> -->
                    <button class ="btn btn-dark " type="submit" value="Login" href="{% url 'login' %}">Login</button>&nbsp;
                    
                    <br/>
                    <hr>
                </div>
            </div>



{% endblock %}