{% extends 'base.html' %}
{% block title %} CHEEKY | Start Your Resume - CV Builder {% endblock %}
{% block content %}


{% if user.is_authenticated and user == user_cv %}
<div class = "hana_div1">
	<h2 style="text-align: center;">Create CV</h2>

	<div class ="form-group text-left">
		<form method = "POST" enctype="multipart/form-data">
			{% csrf_token %}
			
		<div class = "hana_div">
			<h3> CV title:</h3><br>
				{{ cv_form.as_p}}<br>
		</div>
		<div class = "hana_div">
			<h3> Bio:</h3><br>
				{{ bio_form.as_p}}
		
			<br/>
			<div class="subheading " >
				<div class="container" style="margin-left: auto;display: flex; justify-content: center;">

						<!-- <button class ="btn btn-light" type="submit" name="save_home" value="Save&Home">Save&Home</button>
						&nbsp;&nbsp;
					 	<button class ="btn btn-dark " type="submit" name="save_next" value="save_next">Next | Add Lang</button> -->
					 	<a href="{% url 'home' %}" class ="btn btn-light"> Cancel</a> <br/> 
						&nbsp;&nbsp;
					 	<button class ="btn btn-dark " type="submit" name="save_home" value="save_next">Save</button>
						
				</div>
			</div>
			</div>
		</form>
	</div>

</div>
<br/><br/>

{% else %}

	<h1> Ups, you kinda wandered off there into the unknown :)<br/>
    Please <a href = "{% url 'login' %}">log in</a> or <a href = "{% url 'register' %}">register</a> to edit your CV </h1><br/>
    <a href="{% url 'home' %}" class ="btn btn-dark"> Back</a> <br/> 

{% endif %}


{% endblock %}