{% extends 'base.html' %}
{% block title %} CHEEKY | Add Job-Role-Info {% endblock %}
{% block content %}



{% if user.is_authenticated and user == user_jrolecat %}
<div class = "hana_div1">
  <h2 style="text-align: center;">Add Job | Role Info</h2>
  <div class ="form-group">
			<form method = "POST" enctype="multipart/form-data">
				{% csrf_token %}
        <div class = "hana_div">
          {{ jrolecat_form.as_p }}
        </div><br/>
        <div class="subheading " >
          <div class="container" style="margin-left: auto;display: flex; justify-content: center;">
          		<!--<button class ="btn btn-dark" type="submit" name="back" value="back">&nbsp;BACK</button>
              &nbsp;&nbsp;-->
              <button class ="btn btn-light" type="submit" name="save_home" value="Save&Home">Save&Home</button>
              &nbsp;&nbsp;
              <button  class ="btn btn-dark" type="submit" name="add_job" value="save_next">Add Job</button>
              &nbsp;&nbsp;
              <button class ="btn btn-dark" type="submit" name="save_next" value="save_next">Next | Add Education</button> 
              
                                              
          </div>
          <br/>
          <div class="container" style="margin-left: auto;display: flex; justify-content: center;">
              
              <button style="font-size: 12px;" class ="btn btn-dark" type="submit" name="add_jobrolecat" value="save_next">Add Project</button>
          </div>
        </div>
        <br/><br/>

			</form>
		</div>
	</div>
<br/><br/>

{% else %}

	<h1> Ups, you kinda wandered off there into the unknown :)<br/>
    Please <a href = "{% url 'login' %}">log in</a> or <a href = "{% url 'register' %}">register</a> to edit your CV </h1><br/>
    <a href="{% url 'home' %}" class ="btn btn-dark"> Back</a> <br/> 
</div>
{% endif %}


{% endblock %}