{% extends 'base.html' %}
{% block title %} CHEEKY | Add Languages {% endblock %}
{% block content %}



{% if user.is_authenticated and user == lang_user %}
<div class = "hana_div1">
	<h2 style="text-align: center;">Languages</h2>
	<div class ="form-group">
		<form method = "POST" enctype="multipart/form-data">
			{% csrf_token %}
			
		<div class = "hana_div">
				{{ lang_form.as_p}}
		</div>

			<br/>
			<div class="subheading " >
				<div class="container" style="margin-left: auto;display: flex; justify-content: center;">

						<button class ="btn btn-light" type="submit" name="save_home" value="Save&Home">Save&Home</button>
						&nbsp;&nbsp;
					 	<button class ="btn btn-dark " type="submit" name="save_next" value="add_job">Next | Add Web</button>
						
				</div>
			</div>
		</form>
	</div>

</div>

<br/><br/>
{% else %}

	<h1> Ups, you kinda wandered off there into the unknown :)<br/>
    Please <a href = "{% url 'login' %}">log in</a> or <a href = "{% url 'register' %}">register</a> to edit your CV </h1><br/>
    <a href="{% url 'home' %}" class ="btn btn-dark"> Back</a> <br/> 

{% endif %}


{% endblock %}