{% extends 'base.html' %}
{% block title %} CHEEKY | Change Password {% endblock %}
{% block content %}
<style type="text/css">

<style type="text/css">
.hana_div{
    display: flex;
    justify-content: center;
    width: 27rem;
    padding: 10px;
    box-shadow: 10px 10px 30px 10px #3333;
    margin-bottom: 100px;
}

@media (max-width: 576px) {
  .hana_div {
    margin-left: 2rem;
    max-width: 540px;
  }
}


</style>



            <div class="hana_div text-center">
                <div class="card-body">
                    <h4>Password Reset Page</h4>
                    <hr>
                    <div class="alert alert-info" style="background-color:blue_hana_light; text-align: left; z-index: -20; ">
                        Enter your registration email to receive instructions for password reset
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div >
                          
                          <!--<label for="id_email">Email:</label> <br/>-->
                          <input style = "width:275pt" type="email" name="email" autocomplete="email" maxlength="254" required id="id_email" placeholder="Email...">

                        </div><br/>
                       
                        <input class="btn btn-primary btn-dark" type="submit" value="Reset Password">
                    </form>
                    <hr>
                </div>
            </div>


{% endblock %}