@charset "UTF-8";
a {
      color: #BBBABA;
        }
        /* unvisited link */
      a:link {
        color:#BBBABA;
        text-decoration: none;
      }

      /* visited link */
      a:visited {
        color: #BBBABA;
        text-decoration: none;
      }

      /* mouse over link */
      a:hover {
        text-decoration: none;
        color: #FFF;
      }

      /* selected link */
      a:active {
        color: #FFF;
        text-decoration: none;
      }




      #sidebar-open {
        position: absolute;
        width: 0px;
        height: 19rem;
        background: #000;
        right: 0px;
      }
      
      #sidebar-open .toggle-btn-open {
        width: 50px;
        height: 50px;
        background: #9e9e9e;
        display: flex;
        border-radius: 50%;
        color: #FFFFFF;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        box-shadow: 2px 2px 5px rgba(0,0,0, 0.25);
        outline: blue;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0 px;
        right:  30px;
      }

      #toggle-btn-open.active {
        display: none;
      }
      #toggle-btn-open.active1 {
        display: none;
      }


      #sidebar-open.active {
        display: none;
      }
      #sidebar-open.active1 {
        visibility: hidden;
      }
      #sidebar-open.active2 {
        display: none;
      }

      #sidebar-close {
        top: 100px;
        position: absolute;
        width: 145px;
        height: 18rem;
        background: #000;
        right: 0px;
        padding-top: 40px;
        display: none;
        text-align: right;
      }
      #sidebar-close li {
        list-style: none;
        color: #FFFF;
        font-size: 15px;
        padding-top: 10px ;
        padding-right: 30px;
        text-transform: uppercase;
        text-align: center;
      }
      #sidebar-close .li-small {
        list-style: none;
        color: #FFFF;
        font-size: 15px;
        padding-top: 10px ;

        text-transform: uppercase;
      }

      #sidebar-close .toggle-btn-close {
        width: 50px;
        height: 50px;
        background: #000;
        display: flex;
        border-radius: 50%;
        color: #ffffff;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        box-shadow: 2px 2px 5px rgba(0,0,0, 0.25);
        outline: blue;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0 px;
        right:  30px;
      }

      .toggle-btn-close span {
        width: 35px;
        height: 4px;
        background: #FFF;
        display: block;
        margin-top: 4px;
      }
      .toggle-btn-close a {
        color: #3333;
        font-size: 25px;
      }
    
      #sidebar-close.active1 {
        display: block;
      }
      #sidebar-close.active2 {
        visibility: hidden;
      }

      #content.active {
        left: 300px;
      }
      
      

      .center-cropped1{
        width: 30px;
        height: 30px;
        background-position: center center;
        background-repeat: no-repeat;
      }
      .center-cropped {
        object-fit: contain; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        border-radius: 50%;
        height: 30px;
        width: 30px;
        }
      }