{% extends 'base.html' %}
{% block title %} CHEEKY | Delete Job {% endblock %}
{% block content %}

{% if user.is_authenticated and user == user_job %}
<div class="hana_div1">
<h2 style="text-align: center;">Delete Job</h2>
<div class = "hana_div">
    <div class ="form-group">
        <form method = "POST" enctype="multipart/form-data">
                {% csrf_token %}
                <br/><br/>
                Are you sure?<br/> You are about to delete one of the Job sections from your CV
                <br/><br/>
                <button class ="btn btn-dark " type="submit" value="Delete">Delete</button>&nbsp;
                <a href="{% url 'cv_show_edit' user %}#experience" class ="btn btn-light"> Cancel</a> <br/>  &nbsp; 
        </form>
    </div>
</div>
</div>

{%else%}


    <h1> Ups, you kinda wandered off there into the unknown :)<br/>
    Please <a href = "{% url 'login' %}">log in</a> or <a href = "{% url 'register' %}">register</a> to edit your CV </h1><br/>
    <a href="{% url 'home' %}" class ="btn btn-dark">HOME</a> <br/> 

{%endif%}

{% endblock %} 