{% extends 'base.html' %}
{% load static %}
{% block title %} CHEEKY | Error! {% endblock %}

{% block content %}



<br/><br/><br/><br/>
        
<h4 style="text-align:center; color:#999">Upps...</h4><br/>
<h1 style="text-align:center; color:#98cadc">Error</h1>
<div class="hana_div1" >
    <p style="text-align:center">
    You forgot to fill in something...
    </p>
</div>
<br><br>
<div align="center">
    <img src="{% static 'assets/img/smiley.png' %}" class="svg-pink" />
</div>




<script>
  window.setTimeout(function(){
    window.location.href = "{% url 'create_profile_page' %}";
  }, 2000);
</script>

{% endblock %} 