{% extends 'base.html' %}
{% load static %}
{% block title %} CHEEKY | Success! {% endblock %}

{% block content %}


{% if user.is_authenticated %}

<br/><br/><br/><br/>
        
<h4 style="text-align:center; color:#999">Yippiee</h4><br/>
<h1 style="text-align:center; color:#98cadc">Success</h1>
<br><br>
<div align="center">
    <img src="{% static 'assets/img/smiley.png' %}" class="svg-pink" />

</div>

{%else%}

<br/><br/><br/><br/>
   <div align="center">     
<h4 style="text-align:center; color:#999">Upps...</h4><br/><h1>Uncharted waters</h1>
<div class="hana_div1" >
    <p style="text-align:center">
    Please <a href = "{% url 'login' %}">log in</a> or <a href = "{% url 'register' %}">register</a> to edit your CV 
    </p>
</div>
<br><br>

    <a  type="black_l" href="{% url 'home' %}" tsitle="Back to CHEEKY"><i class="fas fa-arrow-alt-circle-left " ></i></a>
</div> 


{%endif%}


<script>
  window.setTimeout(function(){
    window.location.href = "{% url 'home' %}";
  }, 1000);
</script>

{% endblock %} 