{% extends 'base.html' %}
{% block title %} CHEEKY | Change Password {% endblock %}
{% block content %}

<style type="text/css">
.hana_div{
	margin: auto;
  margin-top: 30px;
  width: 27rem;
  padding: 10px;
  box-shadow: 10px 10px 30px 10px #3333;
}
.hana_div .container{
    margin-top: 10pt;
    align-items: center;
}
.hana_div_box {
  font-size: 14pt;
  inline-size: 25rem;
  padding-right: 20pt;
  padding-left: 10pt;
  padding-top: 20pt;
  padding-bottom: 20pt;
  overflow-wrap: break-word;
}
.hana_div_name {
  color:#000;
  font-weight: bolder;
  text-transform: capitalize;
}

@media (max-width: 576px) {
  .hana_div-sm, .hana_div {
  	margin: auto;
  	margin-left: 2rem;
  	margin-top: 50px;
    max-width: 540px;
  }
}
.subheading.hana_div_s{
	line-height: 10pt;
	font-size: 1.2rem; 
	margin-left: 1.2rem;
	margin-right: 1.2rem;
}
.subheading.hana_div_s.p_h{
	font-size: 1.2rem; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

</style>


{% if user.is_authenticated and user == user_ %}

<div class = "hana_div1">
	<h2 style="text-align: center;">Change Password</h2>
	<div class ="form-group">
		<form method = "POST" enctype="multipart/form-data">
			{% csrf_token %}
			
			<div class = "hana_div" ><br/>
				<p><label for="id_old_password">Old password:</label> <input type="password" name="old_password" class="form-control" maxlength="100" required id="id_old_password"></p><br/>
			</div><br/>
			<div class = "hana_div" ><br/>
				<p><label for="id_new_password1">New password1:</label> <input type="password" name="new_password1" class="form-control" maxlength="100" required id="id_new_password1"></p>
				<p><label for="id_new_password2">New password2:</label> <input type="password" name="new_password2" class="form-control" maxlength="100" required id="id_new_password2"></p><br/>
			</div><br/>

			
			<br/>
			<div class="subheading " >
				<div class="container" style="margin-left: auto;display: flex; justify-content: center;">

					<button href = "{% url 'login' %}"class ="btn btn-dark" type="submit" name="c_pass" value="c_pass">Change Password</button>&nbsp;&nbsp;
					<a href="{% url 'home' %}" class ="btn btn-light"> Cancel </a> 

				</div>
			</div><br/><br/>
			<div class="container" style="margin-left: auto;display: flex; justify-content: center;">
				Your password can’t be too similar to your other personal information.<br/>
				Your password must contain at least 8 characters.<br/>
				Your password can’t be a commonly used password.<br/>
				Your password can’t be entirely numeric.
			</div>

		</form>
	</div>
</div>




{%else%}
    <h1> Ups, you kinda wandered off there into the unknown :)<br/>
    Please <a href = "{% url 'login' %}">log in</a> or <a href = "{% url 'register' %}">register</a> to edit your CV </h1><br/>
    <a href="{% url 'home' %}" class ="btn btn-dark">HOME</a> <br/> 

{%endif%}
{% endblock %}