{% extends 'base.html' %}
{% load static %}
{% block title %} Create Profile Pic{% endblock %}
{% block content %}
<style type="text/css">
div#container1 {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: auto;
    height: auto;
}


</style>
<div class = "hana_div1">
{% if user.is_authenticated and user == user_ %}
 <h2 style="text-align: center; text-transform:a">Create PIC</h2>
	<div class = "hana_div">
			
			<div class="container" >
				{% if img %}
					<img src="{{ img }}" class="img-change">
				{%else%}
				<!-- <img src="../static/assets/img/img0.jpg" class="img-change"> -->
				<img src="{% static 'assets/img/img0.jpg' %}" alt="profile" class="img-change">
				{%endif%}
			</div><br/><br/>
			 <div class ="form-group text-center">
				<form method = "POST" enctype="multipart/form-data">
						{% csrf_token %}
						<!--{{ form.as_p}}-->
          				<input class ="btn btn-dark" type="file" name="image" accept="image/*" id="id_image" style="width:90%"><br/><br/><br/>
						<button class ="btn btn-dark">Update</button> &nbsp;
						<a href="{% url 'home' %}" class ="btn btn-light"> Home </a> 
				</form>
			</div>
		</div>



{% else %}

	<h1> Ups, you kinda wandered off there into the unknown :)<br/>
    Please <a href = "{% url 'login' %}">log in</a> or <a href = "{% url 'register' %}">register</a> to edit your CV </h1><br/>
    <a href="{% url 'home' %}" class ="btn btn-dark">HOME</a> <br/> 

{% endif %}
</div>


{% endblock %}