{% extends 'base.html' %}
{% block title %} Create Profile Pic{% endblock %}
{% block content %}
<style type="text/css">
div#container1 {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: auto;
    height: auto;
}

img#utas {
    width: 100%;
    height: 100%;
}



.hana_div{
    margin: auto;
    margin-top: 30px;
    width: 27rem;
    padding: 10px;
    box-shadow: 10px 10px 30px 10px #3333;
    text-align: center;

}
.hana_div .container{
  margin-top: 10pt;
    align-items: center;
}
.hana_div_box {
  font-size: 14pt;
  inline-size: 25rem;
  padding-right: 20pt;
  padding-left: 10pt;
  padding-top: 20pt;
  padding-bottom: 20pt;
  overflow-wrap: break-word;
}
.hana_div_name {
  color:#000;
  font-weight: bolder;
  text-transform: capitalize;
}
@media (max-width: 576px) {
  .hana_div-sm, .hana_div {
    position: ;
    margin: auto;
    margin-left: 2rem;
    margin-top: 50px;
    max-width: 540px;
  }
}

@media(max-width : 600px) {
     #hana_div{
    display:block;
    width:50%;
     }

    }
}
</style>
<div class = "hana_div1">
{% if user.is_authenticated and user == user_ %}
 <h2 style="text-align: center;">Create PIC</h2>
	<div class = "hana_div">
			
			<div class="container" >
				{% if img %}
					<img src="{{ img }}" class="img-change">
				{%else%}
				<img src="../static/assets/img/img0.jpg" class="img-change">
				{%endif%}
			</div><br/><br/>
			 <div class ="form-group">
				<form method = "POST" enctype="multipart/form-data">
						{% csrf_token %}
						<!--{{ form.as_p}}-->
						<div class></div>
          				<input class ="btn btn-dark" type="file" name="image" accept="image/*" id="id_image"><br/><br/><br/>
						<button class ="btn btn-dark">Update</button> &nbsp;
						<a href="{% url 'home' %}" class ="btn btn-light"> Home </a> 
				</form>
			</div>
		</div>


{% else %}

	<h1> Ups, you kinda wandered off there into the unknown :)<br/>
    Please <a href = "{% url 'login' %}">log in</a> or <a href = "{% url 'register' %}">register</a> to edit your CV </h1><br/>
    <a href="{% url 'home' %}" class ="btn btn-dark">HOME</a> <br/> 

{% endif %}
</div>


{% endblock %}