
{% extends 'base.html' %}
{% block title %} CHEEKY | Delete Pic {% endblock %}
{% block content %}

{% if user.is_authenticated and img_p == 1 %}
<div class="hana_div1">
<h2 style="text-align: center;">Delete PIC</h2>
<div class = "hana_div">
    <div class ="form-group">
        <form method = "POST" enctype="multipart/form-data">
                {% csrf_token %}
                    <br/><br/>
                    Are you sure?<br/> You are about to delete your profile pic
                    <br/><br/>
                    <button class ="btn btn-dark " type="submit" value="Delete">Delete</button>&nbsp;
                    <a href="{% url 'edit_profile_page' img.id %}" class ="btn btn-light"> Cancel</a> <br/>  &nbsp; 
        </form>
    </div>
</div>
</div>

{%else%}


    <h1> Ups, you kinda wandered off there into the unknown :)<br/>
    Please <a href = "{% url 'login' %}">log in</a> or <a href = "{% url 'register' %}">register</a> to edit your CV </h1><br/>
    <a href="{% url 'home' %}" class ="btn btn-dark">HOME</a> <br/> 

{%endif%}

{% endblock %} 