
{% extends 'base.html' %}
{% block title %} Edit Profile {% endblock %}
{% block content %}
{% if user.is_authenticated %}
<style type="text/css">
.hana_div{
    margin: auto;
    margin-top: 100px;
    width: 27rem;
    padding: 10px;
    box-shadow: 10px 10px 30px 10px #3333;
    text-align: center;

}
.hana_div .container{
	margin-top: 10pt;
  	align-items: center;
}
.hana_div_box {
  font-size: 14pt;
  inline-size: 25rem;
  padding-right: 20pt;
  padding-left: 10pt;
  padding-top: 20pt;
  padding-bottom: 20pt;
  overflow-wrap: break-word;
}
.hana_div_name {
  color:#000;
  font-weight: bolder;
  text-transform: capitalize;
}
@media (max-width: 576px) {
  .hana_div-sm, .hana_div {
    margin: auto;
    margin-left: 2rem;
    margin-top: 50px;
    max-width: 540px;
  }
}
</style>
<div class="hana_div">
		<br/>
		<h3> CHANGE PASSWORD </h3>
		<br/>


		<div class ="form-group">
			<form method = "POST">
				
				{% csrf_token %}
				<p><span class="helptext"><a href="../password/"  class ="btn btn-dark">Here</a></span><input type="hidden" name="email" value="hana@hana.com" class="form-control" placeholder="email..." id="id_email"></p>
				<!--<button class ="btn btn-dark">Update</button> -->
      </form>
		</div>
</div>

<br><br>


{% else %}

	<h1> Ups, you kinda wandered off there into the unknown :) </h1> 

{% endif %}

{% endblock %}