{% extends 'base.html' %}
{% block title %} CHEEKY | Login {% endblock %}
{% block content %}
<style type="text/css">
    
@media screen and(max-width: 576px){
  .form-control{
    width: 70%;
    display: inline-block;
    vertical-align: middle;

  }
    
}
</style>


<div class="hana_div text-center">
    <div class="card-body">
        <h4>Login</h4>
        <hr>
        <div class ="form-group">
			<form method = "POST" enctype="multipart/form-data" >
				{% csrf_token %}
				<div class = "hana_div_login1" style="text-align:left">
        				<p><label for="id_username">Username:</label> 
        					<input style="width:275pt" type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" placeholder="username..." class="form-control">
        				</p><!--
                        <p><label for="id_email">Email:</label> <br/>
                            <input style="width:275pt" type="text" name="email" autofocus autocapitalize="none" autocomplete="email" maxlength="150" required id="id_email" placeholder="email...">
                        </p>-->

        				<p><label for="id_password">Password:</label> 
        					<input style="width:275pt" type="password" name="password" autocomplete="current-password" required id="id_password" placeholder="password..." class="form-control">
        				</p>
                </div>

		
        
        <button href = "{% url 'login' %}"class ="btn btn-dark" type="submit" name="login" value="login">Login</button>
    </form>
</div>
        
     
        <hr>
    </div>
</div>






{% endblock %}