{% extends 'base.html' %}
{% block title %} CHEEKY | Success! {% endblock %}

{% block content %}

<style type="text/css">
.hana_div2{
    margin: auto;
    margin-top: 100px;
    width: 27rem;
    padding: 10px;
    font-size: 25pt;
    color: #ff59a8;
    text-align: center;

}
.hana_div .container{
    margin-top: 10pt;
    align-items: center;
}

@media (max-width: 576px) {
  .hana_div-sm, .hana_div {
    margin: auto;
    margin-left: 2rem;
    margin-top: 50px;
    max-width: 540px;
  }
}
</style>



<div class = "hana_div2">
    <div class="container" >       
    <b>Success!</b><br/> <br/>  <i  style="font-size: 50pt"class='fas'>&#xf580;</i> <br/> <br/> 
    </div>
</div>




<script>
  window.setTimeout(function(){
    window.location.href = "{% url 'login' %}";
  }, 1000);
</script>

{% endblock %} 