
{% extends 'base.html' %}
{% block title %} Show Profile Pic {% endblock %}

{% load static %}
{% block content %}
<style type="text/css">


div#container1 {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: auto;
    height: auto;
}

img#utas {
    width: 100%;
    height: 100%;
}



.hana_div{
    margin: auto;
    margin-top: 30px;
    width: 27rem;
    padding: 10px;
    box-shadow: 10px 10px 30px 10px #3333;
    text-align: center;

}
.hana_div .container{
  margin-top: 10pt;
    align-items: center;
}
.hana_div_box {
  font-size: 14pt;
  inline-size: 25rem;
  padding-right: 20pt;
  padding-left: 10pt;
  padding-top: 20pt;
  padding-bottom: 20pt;
  overflow-wrap: break-word;
}
.hana_div_name {
  color:#000;
  font-weight: bolder;
  text-transform: capitalize;
}
@media (max-width: 576px) {
  .hana_div-sm, .hana_div {
    position: ;
    margin: auto;
    margin-left: 2rem;
    margin-top: 50px;
    max-width: 540px;
  }
}

@media(max-width : 600px) {
     #hana_div{
    display:block;
    width:50%;
     }

    }
}
/*

@media only screen and (max-width : 600px) {
     #hana_div{
    display:block;
    width:50%;
     }

    }
}

@media (max-width: 575.98px) {
  .hana_div-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}
*/
</style>

<div class = "hana_div1">

{% if user.is_authenticated and pimg_user == user%}

  {% if exists == 1 %}
    <h2 style="text-align: center;">My Profile</h2>
    <div class = "hana_div" >
      <div class="container">
        {% if img %}
          <a href="http://hana.cheekycv.com/" value = "HANA CV" target = "blank" >
            <img src="{{ img }}" class="img-change">
          </a>
        {%else%}
        <a href="http://hana.cheekycv.com/" value = "HANA CV" target = "blank" >
            <img src="../static/assets/img/img0.jpg" class="img-change">
        </a>
        {%endif%}
          <!-- <a href="http://hana.cheekycv.com/" value = "HANA CV" target = "blank" >
            <img src="{{ img }}" id="utas">
          </a> -->
        
      </div><br/><p> <b>{{pimg.user.username}}</b><br/><br/> Email: <a href="mailto: {{pimg.user.email}}}" >{{pimg.user.email}}</a></p>
        <br/>
    </div>
<br><br><br><br><br>
  {%else%}
  <h1>  User's profile pic might have existed once upon a time<br/></h1>

    <a href="{% url 'home' %}" class ="btn btn-dark">HOME</a> <br/> 

  {%endif%}

{%else%}


  {% if exists == 1 %}
  <h2 style="text-align: center;">{{pimg.user.username}}'s profile</h2>
    <div class = "hana_div" >
      
      <div class="container" >
         {% if img%}
          <a href="http://hana.cheekycv.com/" value = "HANA CV" target = "blank" >
            <img src="{{ img }}" id="utas">
          </a>
        {%else%}
        <a href="http://hana.cheekycv.com/" value = "HANA CV" target = "blank" >
            <img src="../static/assets/img/img0.jpg" id="utas">
        </a>
        {%endif%}
        </div><br/><p> <b>{{pimg.user.username}}</b><br/><br/> Email: <a href="mailto: {{pimg.user.email}}}" >{{pimg.user.email}}</a></p>
        <br/>
    </div>
  {%else%}
  <h1>  User's profile pic might have existed once upon a time<br/></h1>

    <a href="{% url 'home' %}" class ="btn btn-dark">HOME</a> <br/> 

  {%endif%}


{%endif%}
</div>

{% endblock %} 