
{% extends 'base.html' %}
{% block title %} Show Profile Pic {% endblock %}

{% load static %}
{% block content %}
<style type="text/css">


div#container1 {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: auto;
    height: auto;
}


</style>

<div class = "hana_div1">

{% if user.is_authenticated and pimg_user == user%}

  {% if exists == 1 %}
    <h2 style="text-align: center;">My Profile</h2>
    <div class = "hana_div" >
      <div class="container">
        {% if img %}
          <a href="http://hana.cheekycv.com/" value = "HANA CV" target = "blank" >
            <img src="{{ img }}" class="img-change">
          </a>
        {%else%}
        <a href="http://hana.cheekycv.com/" value = "HANA CV" target = "blank" >
            <img src="../static/assets/img/img0.jpg" class="img-change">
        </a>
        {%endif%}
          <!-- <a href="http://hana.cheekycv.com/" value = "HANA CV" target = "blank" >
            <img src="{{ img }}" id="utas">
          </a> -->
        
      </div><br/><p> <b>{{pimg.user.username}}</b><br/><br/> Email: <a href="mailto: {{pimg.user.email}}}" >{{pimg.user.email}}</a></p>
        <br/>
    </div>
<br><br><br><br><br>
  {%else%}
  <h1>  User's profile pic might have existed once upon a time<br/></h1>

    <a href="{% url 'home' %}" class ="btn btn-dark">HOME</a> <br/> 

  {%endif%}

{%else%}


  {% if exists == 1 %}
  <h2 style="text-align: center;">{{pimg.user.username}}'s profile</h2>
    <div class = "hana_div" >
      
      <div class="container" >
         {% if img%}
          <a href="http://hana.cheekycv.com/" value = "HANA CV" target = "blank" >
            <img src="{{ img }}" id="utas">
          </a>
        {%else%}
        <a href="http://hana.cheekycv.com/" value = "HANA CV" target = "blank" >
            <img src="../static/assets/img/img0.jpg" id="utas">
        </a>
        {%endif%}
        </div><br/><p> <b>{{pimg.user.username}}</b><br/><br/> Email: <a href="mailto: {{pimg.user.email}}}" >{{pimg.user.email}}</a></p>
        <br/>
    </div>
  {%else%}
  <h1>  User's profile pic might have existed once upon a time<br/></h1>

    <a href="{% url 'home' %}" class ="btn btn-dark">HOME</a> <br/> 

  {%endif%}


{%endif%}
</div>

{% endblock %} 