
{% extends 'base.html' %}
{% block title %}Ask a Question| Free CV Builder | CHEEKY CV{% endblock %}
{% block content %}

<br/><br/><br/><br/>
        


            <h4 style="text-align:center; color:#999">Confused about something?</h4><br/>
          <h1 style="text-align:center; color:#98cadc">Ask a question</h1>

          <div class="hana_div1" >
            <p style="text-align:center">
             We would love to hear from you about anything :) Find us at hello(at)cheekycv(dot)com
            </p>
          </div><br>
          <div align="center">
          	<a  type="black_l" href="{% url 'home' %}" tsitle="Back to CHEEKY"><i class="fas fa-arrow-alt-circle-left" ></i></a>
          </div> 

 
{% endblock %} 