{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Free CV Builder: Make Your CV Online in minutes | CHEEKY CV</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 

   <!-- JAVA LIBRARIES ------------------ -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <!-- old -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

  <!-- ----------ADDON  STUFF -->
   <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link href="http://cheekycv.com/hana/css/styles_cv.css" rel="stylesheet" /> -->
        <!-- <link href="../static/css/styles.css" rel="stylesheet" /> -->


  <!-- ------------META-------- -->

  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free CV Builder: Make Your CV Online in minutes | CHEEKY CV</title>

    <!-- META -->
    <meta property="og:url" content="http://www.cheekycv.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Free CV Builder: Make Your CV Online in minutes | CHEEKY CV">
    <meta property="og:description" content="Free online resume builder, allows you to create your personal landing page and convert it into a PDF! Easy peasy, create an amazing resume and apply for jobs today!">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@resumeio">
    <meta name="twitter:title" content="Free CV Builder: Make Your CV Online in minutes | CHEEKY CV">
    <meta name="twitter:description" content="Free online resume builder, allows you to create a perfect resume minutes. See how easy it is to create an amazing resume and apply for jobs today!">

    <meta property="url" content="http://www.cheekycv.com/">
    <meta property="type" content="website">
    <meta property="title" content="Free CV Builder: Make Your CV Online in minutes | CHEEKY CV">
    <meta property="description" content="Free online resume builder, allows you to create your personal landing page and convert it into a PDF! Easy peasy, create an amazing resume and apply for jobs today!">

    <meta name="robots" content="index, follow" />

    <!-- ---------END META---------- -->
</head>
<body style="background-color:#98cadc">

<div class="jumbotron text-center">
  <h1>COMING SOON</h1>
  <p>Cheeky is getting polished!4</p> 
</div>
  

<!-- ------------------MORE JAVA ---- -->


    <!-- Bootstrap core JS-->

<!-- <script type="text/javascript" src="{% static '/js/js-b/jquery-2.1.1.min.js' %}"src="Scripts/jquery-2.1.1.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

<!-- Third party plugin JS-->


<!-- Contact form JS-->
<!--         <script src="assets/mail/jqBootstrapValidation.js"></script> -->



</body>
</html>
