{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- ------------META-------- -->

  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free CV Builder: Make Your CV Online in minutes | CHEEKY CV</title>

    <!-- META -->
    <meta property="og:url" content="http://www.cheekycv.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Free CV Builder: Make Your CV Online in minutes | CHEEKY CV">
    <meta property="og:description" content="Free online resume builder, allows you to create your personal landing page and convert it into a PDF! Easy peasy, create an amazing resume and apply for jobs today!">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@resumeio">
    <meta name="twitter:title" content="Free CV Builder: Make Your CV Online in minutes | CHEEKY CV">
    <meta name="twitter:description" content="Free online resume builder, allows you to create a perfect resume minutes. See how easy it is to create an amazing resume and apply for jobs today!">

    <meta property="url" content="http://www.cheekycv.com/">
    <meta property="type" content="website">
    <meta property="title" content="Free CV Builder: Make Your CV Online in minutes | CHEEKY CV">
    <meta property="description" content="Free online resume builder, allows you to create your personal landing page and convert it into a PDF! Easy peasy, create an amazing resume and apply for jobs today!">

    <meta name="robots" content="index, follow" />

    <!-- ---------END META---------- -->
</head>
<body style="background-color:#98cadc">

<div class="jumbotron text-center">
  <h1>COMING SOON</h1>
  <p>Cheeky is getting polished!1</p> 
</div>
  
<!-- <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div> -->

</body>
</html>
