
{% extends 'base.html' %}
{% block title %}Error | Free CV Builder | CHEEKY CV{% endblock %}
{% block content %}


<br/><br/><br/><br/>
        
<h4 style="text-align:center; color:#999">Upps...</h4><br/>
<h1 style="text-align:center; color:#98cadc">Error</h1>
<div class="hana_div1" >
	<p style="text-align:center">
	The page you are looking for might have existed once upon a time. Please contact the link sender to find out what happened.
	</p>
</div>
          <br><br>
<div align="center">
	<a  type="black_l" href="{% url 'home' %}" tsitle="Back to CHEEKY"><i class="fas fa-arrow-alt-circle-left " ></i></a>
</div> 
{% endblock %} 