
{% extends 'base.html' %}
{% load static %}
{% block content %}
<style type="text/css">
a{
  text-decoration: none;
}
a[type="black_l"]{
  color: #98cadc;
  text-align:center;
  font-size: 5rem; 
  font-family: 'Staatliches', cursive;
  text-decoration-color: transparent;
  transition: 0.5s;
}
a[type="black_s"]{
  color: #999;
  text-align:center;
  font-size: 1.5rem; 
  font-family: 'Staatliches', cursive;
  text-decoration-color: transparent;
  transition: 0.5s;
}


a[type="black_s1"]{
  color: #eee;
  text-align:center;
  font-size: 1.5rem; 
  font-family: 'Staatliches', cursive;
  text-decoration-color: transparent;
  transition: 0.5s;
  
}
a[type="black_l"]:hover{
  color: #000;
  text-decoration-color: transparent;
  transform: translateY(-20px);
  transition: 0.5s;
}
a[type="black_s"]:hover{
  color: #000;
  text-decoration-color: transparent;
  transform: translateY(-20px);
}
a[type="black_s1"]:hover{
  color: #000;
  text-decoration-color: transparent;
}
a[type="gray"]{
  color: #555;
  text-decoration-color: transparent;
}
a[type="gray"]:hover{
  color: #eeeeee;
  text-decoration-color: transparent;
}
h1{
  font-size: 5rem;
}
h1: hover{
  color: #FF0000;
}

input {
  background-color:#FFFFFF;
  border: 0px solid;
  height: 30px;
  width: 300px;

  border-radius: 4pt;

}
textarea {
  background-color:#FFFFFF;
  border: 0px solid;
  height: 150px;
  width: 300px;

  border-radius: 5pt;
}
input, select, textarea{
    color: #333333;
    padding-left: 10pt;
}
input:focus, textarea:focus, select:focus{
        outline: none;
    }
.submit_{
  border: 2px solid white;
}

input[type="submit"]{
    text-align: center;
    background-color: #88b5c6;
    color:#FFF;
    font-weight: bold; 
    font-size: 25px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: .2px solid #88b5c6;
    border-radius: 7pt;
    transition: 0.5s;

  }
input[type="submit"]:hover {
    color:#98cadc;
    background-color: #FFF;


}
.steps {
  text-align: center;
  background-color:transparent;
  color:#999;
  font-weight: bold; 
  font-size: 25px;
  line-height: 40px;
  /*border: 4px solid #c3d6dc;*/
  border: 2px solid #dcdcdc;  
  border-radius: 7pt;
  padding: 3pt;
}
.steps1 {
  margin: auto;

  color: #999999;
  text-align: center;
  background-color:transparent;
  color:#fff;
  font-weight: bold; 
  font-size: 25px;
  line-height: 60px;
  /*border: 4px solid #c3d6dc;*/
  border: 2px solid #dcdcdc;  
  border-radius: 7pt;
  padding: 3pt;
}
.cloud {
  display: block;
  text-align: center;
  background-color: transparent;
  color:#999;
  font-weight: bold; 
  font-size: 13px;
  line-height: 40px;
  border: .2px solid #dcdcdc;
  border-radius: 7pt;
  padding: 10pt;
  line-height: 1.2;
}
.transp {
  display: block;
  text-align: center;
  background-color: transparent;
  color:transparent;
  border: .2px dashed transparent;

}
.circle {
  height: 100px;
  width: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #000;
  color: #FFF;
  font-size: 3rem; 
  font-family: 'Staatliches', cursive;

}

.btn-show:not(:active) {
    }
.btn-hide:active{

}

.hana_div1{
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  color: #999999;
}

.hana_div1-hide{
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  color: #999999;
  display: none;
}

.hana_div2{
  margin: auto;
  margin-top: 30px;
  
  padding: 10px;
  color: #eeeeee;
}
.hana_div_top{
  margin: auto;
  width: 100%;

}
.colorB{
  background-color:#98cadc ;
}
.footer{
  background-color:#000 ;
}
.forma{
  color: #FFFFFF;
  outline: none;
}

/*-------CARDS*/

/* Float four columns side by side */
.column {
  text-align: center;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  float: center;
  margin: 0 -5px;
  display: flex;
  justify-content: center;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Style the counter cards */
.card {
  width: 10%rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  transition: 0.5s;
}
.card:hover{
  transform: translateY(-20px);
}
.card img{

  padding: 16px;
  text-align: center;
}
.card-img{

  padding: 16px;
  text-align: center;
}

.cards{

  text-align: center;
  margin-left:100pt;
  margin-right: 100pt;
  }



@media (min-width: 577px) {
  
    .hana_div1 {
    width: 560px;
  }
  .hana_div1-hide {
    width: 560px;
  }

  .hana_div2 {
    width: 560px;
  }
}

@media (max-width: 576px) {

  .hana_div {
    max-width: 540px;
  }
  .hana_div1 {
    max-width: 540px;
  }
  .hana_div1-hide {
    max-width: 540px;
  }
  .hana_div2 {
    max-width: 540px;
  }
  .hana_div_top {
    max-width: 540px;
  }

}

@media (max-width: 700px) {
.column {
    width: 100%;
    display: block;
    margin-bottom: 20px;   
  }
  .cards{
    margin-left:20pt;
    margin-right: 20pt;
  }
}
@media (min-width: 701px) {

  .column {
    width: 25%;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;   
  }
}

/*-------END CARDS*/
</style>
{% block nav_menu %}{% include 'navbar_menu.html' %}{% endblock nav_menu %}



    <img class="hana_div_top" src = "../static/assets/img/cov.png">
<!-- SECTION REGISTER NOW / MAKE CV/ GOTO CV-->

{% if user.is_authenticated %} 
  {%if cv_ == 0%}
<!-- LOGGED IN / NO CV-->

    <!-- <br/><br/><br/><br/> -->
    <h4 style="text-align:center; color:#999999">Ready... Steady... GO!</h4><br/>
          <a type="black_l" href="{% url 'add_bio' user %}" title="MAKE MY CV" ><p style="text-align:center; ">MAKE MY CV NOW</p></a>

          <div class="hana_div1">
            <p style="text-align:center">
              Welcome {{user}}! <br>
              Make your job application pop out! Generate and publish your online profile in 10 min. Copy the link from your browser and share it with your future employers.
            </p>
          </div>
    <br/><br/><br/><br/>
<!-- LOGGED IN / YES CV-->
  {%else%}
  <br/><br/><br/><br/>
    <h4 style="text-align:center; color:#999999">HELLO</h4><br/>
          <a type="black_l" href="{% url 'cv_show' user %}" title="GO TO MY CV" ><p style="text-align:center; ">GO TO MY CV</p></a>

          <div class="hana_div1">
            <p style="text-align:center">
              Go and check out how others see your uploaded CV
            </p>
          </div>
    <br/><br/><br/><br/>
  {%endif%}
{%else%}
<!-- SECTION REGISTER NOW - NOT LOGGED IN -->
    <!-- <br/><br/><br/><br/> -->
          <a type="black_s" href="{% url 'login' %}"title="LOGIN"><p style="text-align:center; ">Login or...</p></a>
          <a type="black_l" href="{% url 'register' %}" title="REGISTER" ><p style="text-align:center; ">REGISTER NOW</p></a>

          <div class="hana_div1">
            <p style="text-align:center">
              Register to continue and make your free cv. Be sure to think about your preferred username as the link to your cv will be generated as 'http://cheekycv.com/cv/yourusername'.We only ask for your email, no credit card check or any other nonsense hidden in the process.
            </p>
          </div>
    <br/><br/><br/><br/>
{%endif%}

<!-- SECTION ABOUT -->
    <div class="colorB">
    <br/><br/><br/><br/>
          <h4 style="text-align:center; color:#eeeeee">Why Cheeky</h4><br/>
          <h1 style="text-align:center; color:#FFFFFF">FAST & SIMPLE</h1>

          <div class="hana_div2" >
            <p style="text-align:center">
             Cheeky is an experimental BETA platform. We offer a FREE lifetime subscription for a limited number of usersusers. Publish your CV now. 
            </p>
          </div>

          <div class="hana_div1"style="text-align: center;">
             <input id="submit_" type="submit" value="SHOW MORE" data-toggle="modal" data-target="#howModal" title="SHOW MORE">
          <!-- <button class="steps" onclick="SEE()" id="how_btn">SHOW MORE</button> -->
          <!--  <button class="steps" data-toggle="modal" data-target="#howModal" >SHOW MORE</button> -->
<!--           <a  type="black_s1" href="" data-toggle="modal" data-target="#howModal" title="SHOW MORE" ><p style="text-align:center; margin-top: 0;margin-bottom: 0;">SHOW MORE</p></a> -->
          </div>



    <br/><br/><br/><br/>
</div>
<!-- SECTION HELLO  -->
<br/><br/><br/><br/>
    {% if user.is_authenticated %} 
    <h4 style="text-align:center; color:#999999">SELECTED USERS</h4><br/>
    {%else%}
    <h4 style="text-align:center; color:#999999">SELECTED USERS</h4><br/>
    {%endif%}

    <h1 style="text-align:center; color:#98cadc">THIS IS CHEEKY</h1>


    <div class="hana_div1">
        <p style="text-align:center">Check out some of our sample CVs below.
        </p>
    
    </div>
    <br/><br/>


  <div class="cards">
    <div class="row" style="display:flex;flex-direction:row;">
      {%for CV in CVS|slice:":3" %} 
        {% if CV.1 != 0 %}
          <div class="column">           
            <div style="display: flex;flex-direction: column;">
              <br><h3 style=" z-index: 20;"><a href="{% url 'cv_show' CV.0.user %}" style="color:#000">CHECK OUT {{CV.0.user}}'s CV</a></h3><br><br>
              <div class="card" style="padding-left: 0;padding-right: 0; z-index: -20;">  
                <a href="{% url 'cv_show' CV.0.user %}" >
                <img src="{{CV.1}}" alt="Avatar" class="card-img" ></a>
               </div>
             </div>

          
        </div>
          
        {% else %}
          <div class="column" >
            <div style="display: flex;flex-direction: column;">
              <br><h3 style=" z-index: 20;"><a href="{% url 'cv_show' CV.0.user %}" style="color:#000">CHECK OUT {{CV.0.user}}'s CV</a></h3><br><br>
            <div class="card" style="padding-left: 0;padding-right: 0; z-index: -20;">           
                <a href="{% url 'cv_show' CV.0.user %}">
                  <img src="{% static 'assets/img/img0.jpg' %}" alt="Avatar" class="card-img">
                </a>   
            </div>
          </div>
          </div>

            
          
        {%endif%}
      {%endfor%}  
    </div>
  </div>



    <br/><br/><br/><br/>
<!--HANAHANAHANA -->
<!-- SECTION CONTACT -->
    <div class="colorB" id="contact">
    <br/><br/><br/><br/>
          <h4 style="text-align:center; color:#eeeeee">More feedback? Bring it on!</h4><br/>
          <h1 style="text-align:center; color:#FFFFFF">GET IN TOUCH</h1><br/>

          <!-- <div class="hana_div2" style="text-align:center;"> -->
            <div class="container" align="center">

                  <form class ="forma" method="post" name="contact_form" action="https://prickl.com/js/contact-form-handler.php">


                        Name:<br>

                        <input type="text" name="name" onpaste="return false;" placeholder="name..." ><br><br>

                        Email:<br>
                        <input type="text" name="email" onpaste="return false;" placeholder="name@example.com"><br><br>

                        Message:<br>
                        <textarea name="message" onpaste="return false;" placeholder="message..."></textarea><br><br>

                        <input id="submit_" type="submit" value="SUBMIT" title="SUBMIT">
                  </form>

          </div>
          <br/><br/><br/><br/>
    </div>
    <div class="footer">
    <br/><br/><br/><br/>

          <h3 style="text-align:center;color:#eeeeee; ">Cheeky CV is made by | PRICKL 
          </h3><br>
          <p style="text-align:center">
          <a class="back-to-top" href="http://prickl.com" title="PRICKL DESIGN" target="_blank">
              <img width="70px" height="70px"src="https://prickl.com/assets/img/logo_png.png">
            </a>
          </p>


          <div class="hana_div1">
            <p style="text-align:center;color:#333333;font-size: 10pt;">
              Copyright &copy; 2022 CHEEKYCV by <a href="https://www.prickl.com/" type="gray" target="_blank"title="PRICKL DESIGN">PRICKL DESIGN</a>
            </p>
          </div>

        </div>




</div>

<!-- MODAL HOW -->


<div class="portfolio-modal modal fade" id="howModal" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true" >
  <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                  <br/><br/>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close" style="margin-left:auto; padding-right: 50px">
                        <!-- <span aria-hidden="true"><i class="fas fa-times" style="color:#000"></i></span> -->
                        <img src="{% static 'assets/img/close.png' %}" class="menu-button" />
                    </button>
<!-- STEP 1 -->
<br>
<div class="container" style="text-align: center;margin-left: 80px;">
        <div class="circle">1</div>
</div>
<div class="hana_div1"style="width:300px;text-align: center">
      
      <h2 style="text-align:center; color:#000">CV</h2>
       <h5 style="text-align:center; color:#999999">
        Create your CV page by clicking on 
        <span style="font-size: 50px;color: black;"> + </span> in the upper right corner
      </h5>

      <br/><br/>
            

        <div class="steps"> + / NEW CV </div>
        <br/>
</div>
<hr>
<!-- STEP 2 -->
<br>
<div class="container" style="text-align: center;margin-left: 80px;">
        <div class="circle">2</div>
</div>
<div class="hana_div1"style="width:300px;text-align: center">

      
      <h2 style="text-align:center; color:#000">FORM</h2>
      <h5 style="text-align:center; color:#999999">Fill in the form and your profile page will be autogenerated @ </h5><h5> http://www.cheekycv.com/cv/yuorusername </h5><h5 style="text-align:center; color:#999999"> </h5>

         <br/><br/>


        <div class="steps"> BIO & CONTACT </div>
         <br/><img src="{% static 'assets/img/down_l.png' %}" class="menu-button-l" /><br/>
        <!-- <i class="fas fa-sort-down  fa-4x" style="color:#dcdcdc; padding-bottom: 20px;"></i> -->
        <div class="steps"> INTRO </div>
         <br/><img src="{% static 'assets/img/down_l.png' %}" class="menu-button-l" /><br/>
        <!-- <i class="fas fa-sort-down  fa-4x" style="color:#dcdcdc; padding-bottom: 20px;"></i> -->
        <div class="steps"> SKILLS </div>
         <br/><img src="{% static 'assets/img/down_l.png' %}" class="menu-button-l" /><br/>
        <!-- <i class="fas fa-sort-down  fa-4x" style="color:#dcdcdc; padding-bottom: 20px;"></i> -->
        <div class="steps"> EXPERIENCE  </div>
        <br/><img src="{% static 'assets/img/down_l.png' %}" class="menu-button-l" /><br/>
        <!-- <i class="fas fa-sort-down  fa-4x" style="color:#dcdcdc; padding-bottom: 20px;"></i> -->
        <div class="steps"> OUTRO </div>



        <br/>
</div>
<hr>
<!-- STEP 3 -->
<br>
<div class="container" style="text-align: center;margin-left: 80px;">
        <div class="circle">3</div>
</div>
<div class="hana_div1"style="width:300px;text-align: center">

     
      <h2 style="text-align:center; color:#000">PIC</h2>
       <h5 style="text-align:center; color:#999999">
       It’s always nice to see a face next to a great resume. Add your profile pic if you would like the world to see you. Otheriwse skip this step
      </h5>
      <br/><br/>
            

        <div class="steps"> + / ADD PIC </div>
        <br/>
</div>
<hr>

<!-- STEP 4 -->
<br>
<div class="container" style="text-align: center;margin-left: 80px;">
        <div class="circle">4</div>
</div>
<div class="hana_div1"style="width:300px;text-align: center">    
      <h2 style="text-align:center; color:#000">CHECK</h2>
       <h5 style="text-align:center; color:#999999">
       Double Check Your CV. Save your form anytime and your profile page will be autogenerated with a link: </h5> <h5> http://www.cheekycv.com/cv/yuorusername 
      </h5>
      <br/><br/>
            

        <div class="steps"> + / MY CV</div>
        <br/>
</div>
<hr>

<!-- STEP 5 -->
<br>
<div class="container" style="text-align: center;margin-left: 80px;">
        <div class="circle">5</div>
</div>
<div class="hana_div1"style="width:300px;text-align: center">

      <h2 style="text-align:center; color:#000">FINALIZE</h2>
       <h5 style="text-align:center; color:#999999">
       Simply go to + / EDIT CV / to edit your profile page. You can add / edit any of your inputs anytime
      </h5>
      <br/><br/>
            

        <div class="steps"> + / EDIT CV</div>
        <br/>
</div>
<hr>
<!-- STEP 6 -->
<br>
<div class="container" style="text-align: center;margin-left: 80px;">
        <div class="circle">6</div>
</div>
<div class="hana_div1"style="width:300px;text-align: center">

      <h2 style="text-align:center; color:#000">SEND</h2>
       <h5 style="text-align:center; color:#999999">
       Once you are happy with your profile copy and share it with anyone you wish
      </h5>

        <br/><br/><br/><br/> 
</div> 


      
      <button class="close" type="button" data-dismiss="modal" aria-label="Close" style="margin-left:auto; padding-right: 50px">
          <!-- <span aria-hidden="true"><i class="fas fa-times" style="color:#000"></i></span> -->
          <img src="{% static 'assets/img/close.png' %}" class="menu-button" />
      </button>
      <br/><br/>
    </div>
  </div>
</div>

<!-- END MODAL HOW -->

<script type="text/javascript">
  
  function SEE() {
    // get the clock
    var how_div = document.getElementById('how_div');

    // get the current value of the clock's display property
    var displaySetting = how_div.style.display;

    // also get the clock button, so we can change what it says
    var how_btn = document.getElementById('how_btn');

    // now toggle the clock and the button text, depending on current state
    if (displaySetting == 'block') {
      // clock is visible. hide it
      how_div.style.display = 'none';
      // change button text
      how_btn.innerHTML = 'SHOW HOW';
    }
    else {
      // clock is hidden. show it
      how_div.style.display = 'block';
      // change button text
      how_btn.innerHTML = 'HIDE HOW';
    }
  }
</script>

{% endblock %} 