{% block nav%} 
<style type="text/css">
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Roboto&family=Roboto+Mono&display=swap');

/*@import url('http://cheekycv.com/hana/css/styles_cv1.css');*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&family=Roboto+Mono&display=swap');*/
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: visible;

  /*font-family: 'Roboto Mono', monospace;*/
  /*font-family: 'Bebas Neue', cursive;*/
}





/* NEW STUFF ---------------------------------------------------*/
.cheeky-toggler{
  position: fixed;
  float:right;
  text-align: center;
  padding-top: 20px;
  padding-right:40px;
  padding-left: 40px;
  padding-bottom: 30px;
  right:0;
  top:0;
  height: 100px
  width: 100px;
  justify-content:center;
  color: rgb(229, 236, 238);
  background-color: #FFF;
}


/* CHEEKY-MENU */
.cheeky-menu {
  position: fixed;
  float:right;
  text-align: center;
  margin-top: 100px;
  padding-right:40px;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
  right:0;
  top:0;
  height: 100px
  width: 100px;
  justify-content:center;
  text-align: right;
  background-color: #FFF;
  font-family: 'Staatliches', cursive;
  font-size: 22px;
  list-style:none;
  display: none;
}

.cheeky-menu li {
  color: #000;
  margin-bottom: 20px;
  text-decoration: none;
}
.cheeky-menu li a{
  color: #000;
  text-decoration: none;
}
.cheeky-menu li a:hover{
  /*color: var(--main-color);*/
  /*color: rgb(158, 158, 158);*/
  color: #666;
}
/* CV */
.cv{
  position: fixed;
  float:left;
  text-align: center;
  left:0;
  top:0;
  height: 100%;
  width: 270px;
  /*background-color: var(--main-color);*/
   background-color: var(--primary);
/*  background-color: rgb(158, 158, 158);*/
  justify-content:center;
  padding-top: 150px;
  color: rgb(229, 236, 238);
}
/* CV-CONTENT-SM */
.cv-content-sm {
  padding-top: 20px;
  position: relative;
  text-align: center;
  list-style:none;
  font-family: 'Staatliches', cursive;
  font-size: 22px;
}

.cv-content-sm li {
  margin-bottom: 20px;
  text-decoration: none;
}
.cv-content-sm li a{
  color: rgb(211,211,211);
  text-decoration: none;
}
.cv-content-sm li a:hover{
  color:rgb(229, 236, 238);
}

/* CV-CONTENT-LG */

.cv-content-lg {
  top:0
  align-items: center;
  position: relative;
  text-align: center;
  list-style:none;
  font-family: 'Staatliches', cursive;
  font-size: 22px;
}

.cv-content-lg li {
  margin-bottom: 20px;
  text-decoration: none;
}
.cv-content-lg li a{
  color: rgb(211,211,211);
  text-decoration: none;
}
.cv-content-lg li a:hover{
  color:rgb(229, 236, 238);
}

.pic img {
  position: relative;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid rgb(190,190,190);
}

.pic_phone img {
  position: relative;
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid rgb(190,190,190);
}

.cv-toggle{
  cursor: pointer;
}

.open1{
  position: relative;
  flex-direction: column;

}
.close1{
  position: relative;
  flex-direction: column;
}

@media screen and (min-width:768px) {
  /* CHEEKY-MENU */
  .cheeky-menu {
    background-color: #000;
    color:#FFF;
  }
  .cheeky-menu li a{

    color:#FFF;
  }
  .cheeky-toggler a{
    color: #000;
  }

  .cv{
    align-items: center;
    flex-direction: column;
  }
  .cv-content-sm {
    display: none;
    transform: translateX(-400px);
  }
  .cv-content-lg {
    display: block;
  }
  .pic{
    margin-bottom: 20px;
  }
  .pic_phone{
    transform: translateX(-400px);
    display: none!important;
  }

  .open1{
    display: none;
  }
  .close1{
    display: none;
  }
  .cv-toggle{
    display: none;
  }
  .menu-toggle{
    display: block;
  }

  .open2{
    display:flex;

    margin-top: 25px;
  }
  .close2{
    display: none;

    margin-top: 25px;
  }

}

@media screen and (max-width:768px) {
  /* color: rgb(211,211,211); */
  .cheeky-toggler{
    color: rgb(229, 236, 238);  
    background-color: var(--primary);
    /*background-color: rgb(158, 158, 158);*/
  }

  .cheeky-menu{
    color: rgb(229, 236, 238);
    background-color: var(--primary);
    /*background-color: rgb(158, 158, 158);*/
  }
  .cheeky-menu li a{
    color: rgb(211,211,211);
  }
  .cheeky-menu li a:hover{
    color:rgb(229, 236, 238);
  }
  .cv{
    display: flex;
    width: 100%;
    height:inherit;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;

  }
  .cv-content-sm {
    display: none;
  }
  .cv-content-lg {
    display: none;
  }

  .open1{
    display:flex;
    margin-right: 120px;
    margin-top: 25px;
  }
  .close1{
    display: none;
    margin-right: 120px;
    margin-top: 25px;
  }

  .open2{
    display:flex;
    margin-top: 25px;
  }
  .close2{
    display: none;
    margin-top: 25px;
  }
  .cheeky-toggler a{
    color: rgb(229, 236, 238);
  }

  .pic{
    display:none;
  }
  .pic_phone{
    display:block;
    margin-left: 30px;

  }

}

.circle1 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border:  2px solid #FFF;
}

.circle1:focus {
  outline: none;
}
.btnS{
  background-color:transparent; 
  color: #333;
  border:  2px solid transparent;
  outline: none;
}
.btnS:focus {
  outline: none;
}



/* NEW END --------------------------------------------------------------- */


</style>

<div class="cv">        
          <div class="cv-content-lg" id="cv-content-lg">

                  {%if pic%}
                  <a href="{% url 'edit_profile_page' user.pimg.id %}">
                  <span class="pic">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{pic}}" alt=""/>
                  </span>
                </a>
                   {%else%}
                   <a href="{% url 'create_profile_page' %}">
                   <span class="pic">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../static/assets/img/img0.jpg" alt=""/>
                  </span>
                </a>
                   {%endif%}

                  <br/><br/><br/>

                {%if show_edit%}

                  <li ><a href="#about">About</a></li>
                  <li ><a href="#experience">Experience</a></li>
                  <li ><a href="#skills">Skills</a></li>
                  <li ><a href="#education">Education</a></li>
                  <li ><a href="#interests">Interests</a></li>
                  <li onclick="#"><a href="#contact">Contact</a></li>

                  <hr style="background-color:#666" />

                  <li ><a  href="{% url 'delete_cv' cv.id %}">Delete CV</a></li>
                  <li ><a href="{% url 'edit_color' user %}">Change Color</a></li>
                  
                {%else%}

                  <li ><a href="#about">About</a></li>
                  {% if jobs %}
                  <li ><a href="#experience">Experience</a></li>
                  {%endif%}
                  {% if skill1 or skill2 or lang %}
                  <li ><a href="#skills">Skills</a></li>
                  {%endif%}
                  {% if edus %}
                  <li ><a href="#education">Education</a></li>
                  {%endif%}
                  {% if intro.outro_text %}
                  <li ><a href="#interests">Interests</a></li>
                  {%endif%}
                  <li onclick="#"><a href="#contact">Contact</a></li>

                  {% if user.is_authenticated and cv.user == user  %}
                  <br/>

                  <hr style="background-color:#666" />

                  <br/>
                   <li ><a href="{% url 'cv_show_edit' user %}">EDIT CV</a></li>
                  {%endif%}

                {%endif%}
        </div>

          {%if pic%}
          <a href="{% url 'edit_profile_page' user.pimg.id %}">
          <span class="pic_phone">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{pic}}" alt="" width="70rem"/>
          </span>
          </a>
          {%else%}
          <a href="{% url 'create_profile_page' %}">
          <span class="pic_phone">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../assets/img/img0.jpgg" alt="" width="70rem"/>
          </span>
        </a>
          {%endif%}

    <div class="cv-content-sm" id="cv-content-sm">
            
            <li onclick="closeMenu();closeMenuCV()"><a href="#about">About</a></li>
            {% if jobs %}
            <li onclick="closeMenu();closeMenuCV()"><a href="#experience">Experience</a></li>
            {%endif%}
            {% if skill1 or skill2 or lang %}
            <li onclick="closeMenu();closeMenuCV()"><a href="#skills">Skills</a></li>
            {%endif%}
            {% if edus %}
            <li onclick="closeMenu();closeMenuCV()"><a href="#education">Education</a></li>
            {%endif%}
            {% if intro.outro_text %}
            <li onclick="closeMenu();closeMenuCV()"><a href="#interests">Interests</a></li>
            {%endif%}
            <li onclick="closeMenu();closeMenuCV()"><a href="#contact">Contact</a></li>


            {% if show_edit %}

            <hr style="background-color:#666" />

            <li onclick="closeMenu();closeMenuCV()"><a  href="{% url 'delete_cv' cv.id %}">Delete CV</a></li>
            <li onclick="closeMenu();closeMenuCV()"><a href="{% url 'edit_color' user %}">Change Color</a></li>
            {%else%}

            {% if user.is_authenticated and cv.user == user  %}
            <br/>

            <hr style="background-color:#666" />
              <br/>
             <li onclick="closeMenu();closeMenuCV()"><a href="{% url 'cv_show_edit' user %}">EDIT CV</a></li>
            {%endif%}
            
            {%endif%}

    </div>



          <div class="cv-toggle" id = "cv-toggle" onclick="openNav">
               <a href="javascript:void(0)" onclick="openNav()" id = "open1"><div class="open1" id = "open1_img"><i class="fas fa-bars fa-2x" style=" color: rgb(229, 236, 238);"></i></div></a>
               <a href="javascript:void(0)" onclick="closeNav()" id="close1"><div class="close1" id = "close1_img"><i class="fa fa-times fa-2x" style=" color: rgb(229, 236, 238);"></i></div></a>
          </div>
</div>
<!-- END CV DIV -->

    <div class="cheeky-toggler" >
        <div class="cheeky-toggle" id = "cheeky-toggle" onclick="openMenu">
             <a href="javascript:void(0)" onclick="openMenu()" id = "open2"><div class="open2" id = "open2_img"><i class="fas fa-plus fa-2x" ></i></div></a>
             <a href="javascript:void(0)" onclick="closeMenu()" id="close2"><div class="close2" id = "close2_img"><i class="fa fa-times fa-2x"></i></div></a>
        </div>
    </div>
    {% if user.is_authenticated %}  
      <div class="cheeky-menu" id="cheeky-menu">
        <li onclick="closeMenu()"><a href="{% url 'home' %}">Home</a></li>
        {%if cv_ != 0%}
        <li onclick="closeMenu()"><a href="{% url 'cv_show' user %}">My CV</a></li>
        <li onclick="closeMenu()"><a href="{% url 'cv_show_edit' user %}">Edit CV</a></li>     
        {%else%}
        <li><a href = "{% url 'add_bio' user %}">NEW CV</a></li>
        {%endif%}

        {%if user.pimg.id%}
        <li onclick="closeMenu()"><a href="{% url 'show_profile_page' user.pimg.id %}">My Pic</a></li>
        <li onclick="closeMenu()"><a href="{% url 'edit_profile_page' user.pimg.id %}">Edit Pic</a></li>
        {%else%}
        <li onclick="closeMenu()"><a href="{% url 'create_profile_page'%}">Add Pic</a></li>
        {%endif%}

            <hr style="background-color:#666" />

        <li onclick="closeMenu()"><a href="{% url 'password_reset' %}">SETTINGS</a></li>
        <li onclick="closeMenu()"><a href="{% url 'logout' %}">Log Out</a></li>       
      </div>
    {%else%}
      <div class="cheeky-menu" id="cheeky-menu">
        <li onclick="closeMenu()"><a href="{% url 'home' %}">Home</a></li>
        <li onclick="closeMenu()"><a href="{% url 'login' %}">Log In</a></li>
        <li onclick="closeMenu()"><a href="{% url 'register' %}">Register</a></li>
      </div>
    {%endif%}


<script type="text/javascript">

    document.documentElement.style.setProperty('--primary','{{color}}');
  
  
</script>
{% endblock nav%}