{% block nav%} 
{% load static %}



<div class="cv">        
          <div class="cv-content-lg" id="cv-content-lg">
            {%if show_edit%}
                  {%if pic %}
                  <a href="{% url 'edit_profile_page' user.pimg.id %}">
                  <span class="pic">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{pic}}" alt=""/>
                  </span>
                  </a>
                   {%else%}
                   <a href="{% url 'create_profile_page' %}">
                   <span class="pic">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'assets/img/img0.jpg' %}" alt=""/>
                  </span>
                </a>
                   {%endif%}

                  <br/><br/><br/>

                  <li ><a href="#about">About</a></li>
                  <li ><a href="#experience">Experience</a></li>
                  <li ><a href="#skills">Skills</a></li>
                  <li ><a href="#education">Education</a></li>
                  <li ><a href="#interests">Interests</a></li>
                  <li onclick="#"><a href="#contact">Contact</a></li>
                  <br>

                  <hr style="background-color:#666; width: 100px; margin: 0 auto;" />
                  <br/><br/>
                  <div style="font-size: 15px;">

                  <li ><a  href="{% url 'delete_cv' cv.id %}">Delete CV</a></li>
                  <li ><a href="{% url 'edit_color' user %}">Change Color</a></li>
                </div>
                  
                    
                {%else%}

                 {%if pic %}
                 <a href="{% url 'show_profile_page' pic_id %}">
                  <span class="pic">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{pic}}" alt=""/>
                  </span>
                </a>
                   {%else%}

                      {%if user_ == user_req %}
                        <a href="{% url 'create_profile_page' %}">
                          <span class="pic">
                            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'assets/img/img0.jpg' %}" alt=""/>
                          </span>
                        </a>
                       {%else%}
                          <span class="pic">
                            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'assets/img/img0.jpg' %}" alt=""/>
                          </span>
                        {%endif%}
                   {%endif%}
                   <br/><br/><br/>

                  <li ><a href="#about">About</a></li>
                  {% if jobs %}
                  <li ><a href="#experience">Experience</a></li>
                  {%endif%}
                  {% if skill1 or skill2 or lang %}
                  <li ><a href="#skills">Skills</a></li>
                  {%endif%}
                  {% if edus %}
                  <li ><a href="#education">Education</a></li>
                  {%endif%}
                  {% if intro.outro_text %}
                  <li ><a href="#interests">Interests</a></li>
                  {%endif%}
                  <li onclick="#"><a href="#contact">Contact</a></li>

                  {% if user.is_authenticated and cv.user == user  %}
                  <br/>

                  <hr style="background-color:#666;width: 100px; margin: 0 auto;" />

                  <br/><br/>
                   <div style="font-size: 15px;">
                   <li ><a href="{% url 'cv_show_edit' user %}">EDIT CV</a></li>
                 </div>
                  {%endif%}

                {%endif%}
        </div>


        {%if show_edit%}

            {%if pic %}
            <a href="{% url 'edit_profile_page' user.pimg.id %}">
            <span class="pic_phone">
              <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{pic}}" alt="" width="70rem"/>
            </span>
            </a>
            {%else%}
            <a href="{% url 'create_profile_page' %}">
            <span class="pic_phone">
              <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'assets/img/img0.jpg' %}" alt="" width="70rem"/>
            </span>
          </a>
            {%endif%}

        {%else%}


          {%if pic %}
          <a href="{% url 'show_profile_page' pic_id %}">
            <span class="pic_phone">
              <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{pic}}" alt="" width="70rem"/>
            </span>
          </a>
            {%else%}
               {%if user_ == user_req %}
               <a href="{% url 'create_profile_page' %}">
                  <span class="pic_phone">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'assets/img/img0.jpg' %}" alt="" width="70rem"/>
                  </span>
              </a>
              {%else%}
                  <span class="pic_phone">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'assets/img/img0.jpg' %}" alt="" width="70rem"/>
                  </span>
              {%endif%}
            {%endif%}

        {%endif%}

    <div class="cv-content-sm" id="cv-content-sm">
            
            <li onclick="closeMenu();closeMenuCV()"><a href="#about">About</a></li>
            {% if jobs %}
            <li onclick="closeMenu();closeMenuCV()"><a href="#experience">Experience</a></li>
            {%endif%}
            {% if skill1 or skill2 or lang %}
            <li onclick="closeMenu();closeMenuCV()"><a href="#skills">Skills</a></li>
            {%endif%}
            {% if edus %}
            <li onclick="closeMenu();closeMenuCV()"><a href="#education">Education</a></li>
            {%endif%}
            {% if intro.outro_text %}
            <li onclick="closeMenu();closeMenuCV()"><a href="#interests">Interests</a></li>
            {%endif%}
            <li onclick="closeMenu();closeMenuCV()"><a href="#contact">Contact</a></li>


            {% if show_edit %}

            <hr style="background-color:#666" />
             <div style="font-size: 15px;">

            <li onclick="closeMenu();closeMenuCV()"><a  href="{% url 'delete_cv' cv.id %}">Delete CV</a></li>
            <li onclick="closeMenu();closeMenuCV()"><a href="{% url 'edit_color' user %}">Change Color</a></li>
          </div>
            {%else%}

            {% if user.is_authenticated and cv.user == user  %}


            <hr style="background-color:#666;"/>

               <div style="font-size: 15px;">
             <li onclick="closeMenu();closeMenuCV()"><a href="{% url 'cv_show_edit' user %}">EDIT CV</a></li>
           </div>
            {%endif%}
            
            {%endif%}

    </div>

          <div class="cv-toggle" id = "cv-toggle" onclick="openNav">
               <a href="javascript:void(0)" onclick="openNav()" id = "open1">
                <div class="open1" id = "open1_img">
                <img src="{% static 'assets/img/bars.png' %}" class="menu-button-gray"/>
               <!--  <i class="fas fa-bars fa-2x" style=" color: rgb(229, 236, 238);"></i> -->
              </div></a>
               <a href="javascript:void(0)" onclick="closeNav()" id="close1">
                <div class="close1" id = "close1_img">
                <img src="{% static 'assets/img/close.png' %}" class="menu-button-gray" />
                <!-- <i class="fa fa-times fa-2x" style=" color: rgb(229, 236, 238);"></i> -->
              </div></a>
          </div>
</div>
<!-- END CV DIV -->

    <div class="cheeky-toggler" >
        <div class="cheeky-toggle" id = "cheeky-toggle" onclick="openMenu">
             <a href="javascript:void(0)" onclick="openMenu()" id = "open2"><div class="open2" id = "open2_img">
              <img src="{% static 'assets/img/open.png' %}" class="menu-button"/>
              <!-- <i class="fas fa-plus fa-2x" ></i> -->
            </div></a>
             <a href="javascript:void(0)" onclick="closeMenu()" id="close2"><div class="close2" id = "close2_img">
              <img src="{% static 'assets/img/close.png' %}" class="menu-button" />
              <!-- <i class="fa fa-times fa-2x"></i> -->
            </div></a>
        </div>
    </div>
    {% if user.is_authenticated %}  
      <div class="cheeky-menu" id="cheeky-menu">
        <li onclick="closeMenu()"><a href="{% url 'home' %}">Home</a></li>
        {%if cv_ != 0%}
        <li onclick="closeMenu()"><a href="{% url 'cv_show' user %}">My CV</a></li>
        <li onclick="closeMenu()"><a href="{% url 'cv_show_edit' user %}">Edit CV</a></li>     
        {%else%}
        <li><a href = "{% url 'add_bio' user %}">NEW CV</a></li>
        {%endif%}

        {%if user.pimg.id%}
        <li onclick="closeMenu()"><a href="{% url 'edit_profile_page' user.pimg.id %}">My Pic</a></li>
        {%else%}
        <li onclick="closeMenu()"><a href="{% url 'create_profile_page'%}">Add Pic</a></li>
        {%endif%}

            <hr style="background-color:#666" />

        <li onclick="closeMenu()"><a href="{% url 'password_reset' %}">SETTINGS</a></li>
        <li onclick="closeMenu()"><a href="{% url 'ask' %}">Contact</a></li> 
        <li onclick="closeMenu()"><a href="{% url 'logout' %}">Log Out</a></li>     
      </div>
    {%else%}
      <div class="cheeky-menu" id="cheeky-menu">
        <li onclick="closeMenu()"><a href="{% url 'home' %}">Home</a></li>
        <li onclick="closeMenu()"><a href="{% url 'login' %}">Log In</a></li>
        <li onclick="closeMenu()"><a href="{% url 'register' %}">Register</a></li>
      </div>
    {%endif%}


<script type="text/javascript">

    document.documentElement.style.setProperty('--primary','{{color}}');
  
  
</script>
{% endblock nav%}